/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)

   THIS IS A RESETTER so that all browsers will have the same starting point.
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    padding: 0 20% 5% 20%;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* General styles */
html {
    background-color: #383838;
}

body {
    line-height: 1.6;
    font-family: 'Rockwell Nova', sans-serif;
    position: relative;
    min-height: 100vh;
}

#specialPagesPadding {
    padding: 5% 5% 5% 5%;
}
#specialPagesPaddingIndex {
    padding: 0 0 5% 0;
}
#textTooLong {
    text-overflow: ellipsis;
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
}

header {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Gill Sans', sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(120, 140, 165); /* Header color */
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

h2 {
    font-size: 30px; /* Adjusted font-size */
    font-weight: bold;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(120, 140, 165); /* Header color */
    text-align: center;
    margin-bottom: 10px; /* Added margin-bottom */
    padding-top: 20px;
    padding-bottom: 30px;
}

h3 {
    font-size: 28px; /* Adjusted font-size */
    font-weight: bold;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(120, 140, 165); /* Header color */
    text-align: center;
    margin-bottom: 10px; /* Added margin-bottom */
}

h4 {
    font-size: 28px;
    font-weight: bold;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(143, 111, 39);
    text-align: center;
    margin-bottom: 10px;
}

p {
    font-size: 24px;
    font-family: 'Rockwell Nova', sans-serif;
    color: rgb(119, 110, 95); /* Paragraph color */
}

#blog-post img {
    display: block;
    margin-bottom: 30px;
    max-width: 100%;
    height: auto;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
}

#preheader {
    margin-top: 10px;
    text-align: left;
    font-family: 'Gill Sans', sans-serif;
    background: #383838;
    padding: 10px;
    font-size: 26px;
    border-color: #007c91;
}

pre {
/*    background: #333333;
    color: #ffffff;*/
    /*
    padding: 20px;
    */
    text-align: center;
    font-size: 24px;
    /*
    border-radius: 5px;
    */
    border-color: #007c91;
    /*
    overflow: visible;
    */
}

#createCommissionButton {
    display: block;
    margin: 20px auto;
    padding: 15px 30px;
    font-size: 16px;
    background-color: #ff6b6b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
}

nav {
    display: flex;
    justify-content: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    color: #383838;
    align: start;
    padding: 5% 10% 10% 10%

}

.gallery img {
    width: 100%;
    height: auto;
}

.image-gallery {
    display: grid;
    grid-gap: 10px;
    max-height: 800px;
    color: #383838;
}

.image-gallery img {
    width: 90%;
    height: auto;
}


.group-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
gap: 20px;
}

.group-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

#about {
    color: rgb(119, 110, 95);
}
#aboutImg{
    display: block;
    margin: 0 auto;
    padding: 10px;
}
.course-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.course {
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
}

.course .content {
    display: flex;
    align-items: center;
    text-align: left;
}

.course img {
    width: 250px;
    height: 250px;
    margin-right: 20px;
}

.course .text-content {
    max-width: 70%;
}

.course h2 {
    font-size: 24px;
    margin: 0;
    padding-bottom: 10px;
}

.course p {
    font-size: 16px;
}

/* Forms */
form {
    display: flex;
    flex-direction: column;
}

form input,
form textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
    background: #816565;

}

form button {
    background-color: #333;
    color: #fff;
    padding: 0.5rem;
    cursor: pointer;
}

.styled-table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.styled-table th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 12px;
    font-weight: 600;
    color: #333;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.styled-table td {
    border-bottom: 1px solid #f2f2f2;
    padding: 12px;
    color: #666;
}


/* Blog Post Table */
.styled-table {
    border-collapse: collapse;
    margin: 50px auto;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.styled-table td, .styled-table th {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.styled-table thead th {
    background-color: #3891A6;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    border-bottom: 2px solid #ddd;
}

.styled-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Create Blog Post Button */
#createBlogPostButton {
    background-color: #2B9EB3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px;
}

#createBlogPostButton:hover {
    background-color: #007c91;
}

/* Modals */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: white;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #ddd;
    width: 80%;
    max-width: 800px;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    color: #bbb;
    cursor: pointer;
}

.close:hover {
    color: #888;
}

/* Create Blog Post Modal */
#createBlogPostModal label,
#createBlogPostModal input,
#createBlogPostModal textarea {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

#createBlogPostModal label {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.05em;
    margin-bottom: 5px;
}

#createBlogPostModal input,
#createBlogPostModal textarea {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
}

#createBlogPostModal button[type="submit"] {
    background-color: #2B9EB3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

#createBlogPostModal button[type="submit"]:hover {
    background-color: #007c91;
}

/* Edit Blog Post Modal */
#editBlogPostModal label,
#editBlogPostModal input,
#editBlogPostModal textarea {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}
#editBlogPostModal label {
    font-weight: bold;
}

#editBlogPostModal input,
#editBlogPostModal textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 10px;
}

#editBlogPostModal button[type="submit"],
#editBlogPostModal button[type="button"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

#editBlogPostModal button[type="submit"]:hover {
    background-color: #45a049;
}

#editBlogPostModal button[type="button"]:hover {
    background-color: #f44336;
}




#adminBlogPostContent {
    max-width: 300px;
    overflow: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.blog-post {
    display: flex;
    flex-direction: column;
}

.blog-post .imgBlogPost {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.blogPostDate {
    color: #d0b273;
    margin-bottom: 20px;
}

.readMoreLink{
    color: #d0b273;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    text-decoration: underline;
}

.comment-header {
    display: flex;
    justify-content: space-between;
}

.comment {
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
    background: #273433;
}

.blogPostDescription {
font-weight: bold;
    text-align: center;
}

.truncatedContent {

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Show 3 lines of content */
    -webkit-box-orient: vertical;
}

.overviewBlogPostContent {
    max-width: 300px;
    overflow: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.blogPostContent {
text-align: center;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f9f9f9;
}

.styled-table tbody tr:last-of-type td {
    border-bottom: none;
}

.btn {
    background-color: #ddd;
    border: none;
    padding: 6px 12px;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.05em;
    cursor: pointer;
}

.btn-edit {
    color: #007bff;
    margin-right: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.btn-delete {
    color: #dc3545;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.btn:hover {
    background-color: #ccc;
}

.btn-edit:hover {
    color: #fff;
}


@media screen and (max-width: 1024px) {
    /* Tablet styles go here */
    body {
        padding: 0 10% 10% 10%;
    }
    h1, h2, h3, p {
        font-size: 90%; /* Reduce font-size by 10% */
    }
    .btn {
        padding: 4px 10px; /* Reduce padding */
    }
    .image-gallery {
        grid-template-columns: repeat(3, 1fr); /* 3 images per row */
    }
}

@media screen and (max-width: 768px) {
    /* Mobile styles go here */
    body {
        padding: 0 5% 5% 5%;
    }
    h1, h2, h3, p {
        font-size: 80%; /* Reduce font-size by 20% */
    }
    .btn {
        padding: 2px 8px; /* Further reduce padding */
    }
    .image-gallery {
        grid-template-columns: repeat(2, 1fr); /* 2 images per row */
    }
}

@media screen and (max-width: 480px) {
    /* Smaller mobile styles go here */
    body {
        padding: 0 2% 2% 2%;
    }
    h1, h2, h3, p {
        font-size: 70%; /* Reduce font-size by 30% */
    }
    .btn {
        padding: 1px 6px; /* Further reduce padding */
    }
    .image-gallery {
        grid-template-columns: repeat(1, 1fr); /* 1 image per row */
    }
}