/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)

   THIS IS A RESETTER so that all browsers will have the same starting point.
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    padding: 0 20% 20% 20%;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* General styles */
html {
    background-color: #383838;
}

body {
    line-height: 1.6;
    font-family: 'Rockwell Nova', sans-serif;
}

header {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Gill Sans', sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(120, 140, 165); /* Header color */
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

h2 {
    font-size: 30px; /* Adjusted font-size */
    font-weight: bold;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(120, 140, 165); /* Header color */
    text-align: center;
    margin-bottom: 10px; /* Added margin-bottom */
    padding-top: 20px;
    padding-bottom: 30px;
}

h3 {
    font-size: 28px; /* Adjusted font-size */
    font-weight: bold;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(120, 140, 165); /* Header color */
    text-align: center;
    margin-bottom: 10px; /* Added margin-bottom */
}

h4 {
    font-size: 28px;
    font-weight: bold;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(143, 111, 39);
    text-align: center;
    margin-bottom: 10px;
}

p {
    font-size: 24px;
    font-family: 'Rockwell Nova', sans-serif;
    color: rgb(119, 110, 95); /* Paragraph color */
}

#blog-post img {
    display: block;
    margin-bottom: 30px;
    max-width: 100%;
    height: auto;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
}

#preheader {
    margin-top: 10px;
    text-align: left;
    font-family: 'Gill Sans', sans-serif;
    background: #383838;
    padding: 10px;
    font-size: 26px;
    border-color: #007c91;
}

pre {
/*    background: #333333;
    color: #ffffff;*/
    /*
    padding: 20px;
    */
    text-align: center;
    font-size: 24px;
    /*
    border-radius: 5px;
    */
    border-color: #007c91;
    /*
    overflow: visible;
    */
}

#createCommissionButton {
    display: block;
    margin: 20px auto;
    padding: 15px 30px;
    font-size: 16px;
    background-color: #ff6b6b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
}

nav {
    display: flex;
    justify-content: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    color: #333333;
    align: start;
    padding: 5% 10% 10% 10%

}

.gallery img {
    width: 100%;
    height: auto;
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Adjust the number of columns as needed */
    grid-gap: 10px;
    max-height: 1000px; /* Adjust the maximum height as needed */
    color: #333333;

}

.image-gallery img {
    width: 100%;
    height: auto;
}
/*
section {
    margin: 2rem 0;
}*/
#about {
    color: rgb(119, 110, 95);
}
#aboutImg{
    display: block;
    margin: 0 auto;
    padding: 10px;
}
.course-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.course {
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
}

.course .content {
    display: flex;
    align-items: center;
    text-align: left;
}

.course img {
    width: 250px;
    height: 250px;
    margin-right: 20px;
}

.course .text-content {
    max-width: 70%;
}

.course h2 {
    font-size: 24px;
    margin: 0;
    padding-bottom: 10px;
}

.course p {
    font-size: 16px;
}

/* Forms */
form {
    display: flex;
    flex-direction: column;
}

form input,
form textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
    background: #816565;

}

form button {
    background-color: #333;
    color: #fff;
    padding: 0.5rem;
    cursor: pointer;
}

.styled-table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.styled-table th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 12px;
    font-weight: 600;
    color: #333;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.styled-table td {
    border-bottom: 1px solid #f2f2f2;
    padding: 12px;
    color: #666;
}

#adminBlogPostContent {
    max-width: 300px;
    overflow: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.blog-post {
    display: flex;
    flex-direction: column;
}

.blog-post .imgBlogPost {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.blogPostDate {
    color: #d0b273;
    margin-bottom: 20px;
}

.readMoreLink{
    color: #d0b273;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    text-decoration: underline;
}

.comment-header {
    display: flex;
    justify-content: space-between;
}

.comment {
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
    background: #273433;
}

.blogPostDescription {
font-weight: bold;
    text-align: center;
}

.truncatedContent {

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Show 3 lines of content */
    -webkit-box-orient: vertical;
}

.overviewBlogPostContent {
    max-width: 300px;
    overflow: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.blogPostContent {
text-align: center;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f9f9f9;
}

.styled-table tbody tr:last-of-type td {
    border-bottom: none;
}

.btn {
    background-color: #ddd;
    border: none;
    padding: 6px 12px;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.05em;
    cursor: pointer;
}

.btn-edit {
    color: #007bff;
    margin-right: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.btn-delete {
    color: #dc3545;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.btn:hover {
    background-color: #ccc;
}

.btn-edit:hover {
    color: #fff;
}
