<!-- Header -->
<header>
    <div class="header">
        <h1>Lone Lamp</h1>
        <p id="p-logo">
            <a href="http://localhost:63342/LLPprojhtmljs/templates/main/courses.html">Kurser</a>
            <span id="portrait-span"><a href="http://localhost:63342/LLPprojhtmljs/templates/main/commissions.html">Portrætter</a></span>
            <a href="http://localhost:63342/LLPprojhtmljs/templates/main/illustrations.html">Illustrationer</a>
            <!--fjernes når produktet er færdig og login funktion virker-->
            <a href="http://localhost:63342/LLPprojhtmljs/templates/admin/adminindex.html" style="color: darkred">Admin Index (Beta)</a>
            <a href="http://localhost:63342/LLPprojhtmljs/templates/main/index.html">INDEX</a>
        </p>
    </div>

    <!-- Navigation Bar -->
    <nav class="navbar">
        <a href="http://localhost:63342/LLPprojhtmljs/templates/main/illustrations.html">Illustrationer</a>
        <a href="http://localhost:63342/LLPprojhtmljs/templates/main/commissions.html">Portrætter</a>
        <a href="http://localhost:63342/LLPprojhtmljs/templates/main/about.html">Koncept</a>
        <a href="http://localhost:63342/LLPprojhtmljs/templates/main/blog/blog.html">Bloggen</a>
        <a href="http://localhost:63342/LLPprojhtmljs/templates/main/courses.html">Kurser</a>
    </nav>
</header>