<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kurser</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/navbar-header.css">
    <link rel="stylesheet" href="../../css/styles.css">
</head>
<body>

<div class="course-container">
    <!-- Courses will be inserted here by JavaScript -->
</div>

<script src="../../js/course.js"></script>
<script src="../../js/fragments/fragments.js"></script>
</body>
</html>