<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Illustrationer</title>
    <link rel="stylesheet" href="../../css/navbar-header.css">
    <link rel="stylesheet" href="../../css/styles.css">
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script></head>
<body>

<main>
    <section>
        <h2>Posts</h2>
        <section id="posts" class="image-gallery"></section>
    </section>
</main>

<!--
<script src="../../js/customerPortraits.js"></script>
-->
<script src="../../js/fragments/fragments.js"></script>
<script src="../../js/test.js"></script>

</body>
</html>