<!DOCTYPE html>
<html lang="en" xmlns:http="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lone L new Website prototype</title>
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" href="../../css/navbar-header.css">
    <link rel="stylesheet" href="../../css/footer.css">

</head>
<body id="specialPagesPaddingIndex">
<main>
    <h1>Lampens Kunstverden</h1>

    <div class="content">
        <img src="yourImage.jpg" alt="Your Description" class="centered-img">
        <div class="text-content">
            Jeg holder meget af at tegne portrætter.
            Særligt de helt små ansigter, med deres sarte træk.
            I galleriet er portrætter, jeg har tegnet efter foto. Under "Nyfødte", er de portrætter, jeg tegnede på Roskilde Sygehus i '98, da jeg ventede min datter.
            Jeg tegner også større børn og voksne, og vil løbende vise nye eksempler her på siden.
            Så kom igen inden længe ...
        </div>
    </div>
</main>

<footer>
    <div class="footer-content">
        <div class="logo-container">
            <img src="yourLogo.jpg" alt="Your Logo">
        </div>
        <div class="business-info">
            <p>Kontakt Email: lonelamp@lamp.dk</p>
            <p>Adresse: Langagervej 20, Roskilde 4500</p>
        </div>
    </div>
</footer>

<script src="../../js/fragments/fragments.js"></script>

</body>
</html>