<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commission Management</title>
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" href="../../css/modal.css">

</head>
<body>
<h1>Commission Management</h1>
<button id="createCommissionButton">Create Commission</button>

<!-- Commissions Table -->
<table id="commissionsTable" class="styled-table">
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Subject</th>
        <th>Description</th>
        <th>Page Format 1</th>
        <th>Page Format 2</th>
        <th>Delivery Date</th>
        <th>Street</th>
        <th>House Number</th>
        <th>Floor</th>
        <th>Zip Code</th>
        <th>Image 1</th>
        <th>Image 2</th>
        <th>Image 3</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>${commissionObject.commissionid}</td>
        <td>${commissionObject.firstname}</td>
        <td>${commissionObject.lastname}</td>
        <td>${commissionObject.email}</td>
        <td>${commissionObject.phonenumber}</td>
        <td>${commissionObject.subject}</td>
        <td>${commissionObject.description}</td>
        <td>${commissionObject.pageformat1}</td>
        <td>${commissionObject.pageformat2}</td>
        <td>${commissionObject.deliverydate}</td>
        <td>${commissionObject.street}</td>
        <td>${commissionObject.housenumber}</td>
        <td>${commissionObject.floor}</td>
        <td>${commissionObject.zipcode}</td>
        <td>${commissionObject.imageurl1}</td>
        <td>${commissionObject.imageurl2}</td>
        <td>${commissionObject.imageurl3}</td>
        <td>
            <button class="editCommissionButton btn btn-com" data-id="${commissionObject.commissionid}">Edit</button>
            <button class="deleteCommissionButton btn btn-delete" data-id="${commissionObject.commissionid}">Delete</button>
        </td>
    </tr>
    </tbody>
</table>

<!-- Create Commission Form -->
<dialog id="create-commission-dialog">
    <h2>Create Commission</h2>
    <form id="create-commission-form" method="dialog">
        <label for="firstname">First Name:</label>
        <input type="text" id="firstname" name="firstname" required><br>
        <label for="lastname">Last Name:</label>
        <input type="text" id="lastname" name="lastname" required><br>
        <label for="phonenumber">Phone Number:</label>
        <input type="text" id="phonenumber" name="phonenumber"><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br>
        <label for="subject">Subject:</label>
        <input type="text" id="subject" name="subject" required><br>
        <label for="description">Description:</label>
        <textarea id="description" name="description" rows="10" required></textarea><br>
        <label for="pageformat1">Page Format 1:</label>
        <input type="text" id="pageformat1" name="pageformat1"><br>
        <label for="pageformat2">Page Format 2:</label>
        <input type="text" id="pageformat2" name="pageformat2" required><br>
        <label for="deliverydate">Delivery Date:</label>
        <input type="date" id="deliverydate" name="deliverydate" required><br>
        <label for="street">Street:</label>
        <input type="text" id="street" name="street"><br>
        <label for="housenumber">House Number:</label>
        <input type="number" id="housenumber" name="housenumber"><br>
        <label for="floor">Floor:</label>
        <input type="text" id="floor" name="floor"><br>
        <label for="zipcode">Zip Code:</label>
        <input type="number" id="zipcode" name="zipcode"><br>
        <label for="imageurl1">Image 1 URL:</label>
        <input type="text" id="imageurl1" name="imageurl1" required><br>
        <label for="imageurl2">Image 2 URL:</label>
        <input type="text" id="imageurl2" name="imageurl2"><br>
        <label for="imageurl3">Image 3 URL:</label>
        <input type="text" id="imageurl3" name="imageurl3"><br>
        <button type="submit">Create</button>
    </form>
</dialog>

<!-- Edit Commission Form -->
<dialog id="update-commission-dialog">
    <h2>Edit Commission</h2>
    <span class="close">&times;</span>
    <form id="update-commission-form" method="dialog">
        <input type="hidden" id="commissionId" name="commissionId">
        <label for="firstname">First Name:</label>
        <input type="text" id="firstname" name="firstname" required><br>
        <label for="lastname">Last Name:</label>
        <input type="text" id="lastname" name="lastname" required><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br>
        <label for="phonenumber">Phone Number:</label>
        <input type="text" id="phonenumber" name="phonenumber"><br>
        <label for="subject">Subject:</label>
        <input type="text" id="subject" name="subject" required><br>
        <label for="description">Description:</label>
        <textarea id="description" name="description" rows="10" required></textarea><br>
        <label for="pageformat1">Page Format 1:</label>
        <input type="text" id="pageformat1" name="pageformat1"><br>
        <label for="pageformat2">Page Format 2:</label>
        <input type="text" id="pageformat2" name="pageformat2" required><br>
        <label for="deliverydate">Delivery Date:</label>
        <input type="date" id="deliverydate" name="deliverydate" required><br>
        <label for="street">Street:</label>
        <input type="text" id="street" name="street"><br>
        <label for="housenumber">House Number:</label>
        <input type="number" id="housenumber" name="housenumber"><br>
        <label for="floor">Floor:</label>
        <input type="text" id="floor" name="floor"><br>
        <label for="zipcode">Zip Code:</label>
        <input type="number" id="zipcode" name="zipcode"><br>
        <label for="imageurl1">Image 1 URL:</label>
        <input type="text" id="imageurl1" name="imageurl1" required><br>
        <label for="imageurl2">Image 2 URL:</label>
        <input type="text" id="imageurl2" name="imageurl2"><br>
        <label for="imageurl3">Image 3 URL:</label>
        <input type="text" id="imageurl3" name="imageurl3"><br>
        <button type="submit">Save Changes</button>
        <button type="button" onclick="hideEditCommissionModal()">Cancel</button>
    </form>
</dialog>

<!-- Delete Confirmation Modal -->

<dialog id="delete-commission-dialog">
    <h2>Vil du slette commission?</h2>
    <p id="dialog-delete-post-title">Title of post</p>
    <form id="delete-commission-form" method="dialog">
        <button type="button" class="btn-cancel">Nej</button>
        <button>Ja</button>
    </form>
</dialog>

<script src="../../js/script.js"></script>
<!--<script src="../../js/commissions/commissions.js"></script>-->
</body>
</html>


