<!-- Header -->
<header>
    <div class="header">
        <h1>Lone Lamp</h1>
        <p id="p-logo">
            <a href="http://localhost:63342/LLPprojhtmljs/templates/main/illustrations.html">Illustrationer</a>
            <span id="portrait-span"><a href="http://localhost:63342/LLPprojhtmljs/templates/main/commissions.html">Portrætter</a></span>
            <a href="http://localhost:63342/LLPprojhtmljs/templates/main/courses.html">Kurser</a>


        </p>
    </div>

    <!-- Navigation Bar -->
    <nav class="navbar">
        <a href="http://localhost:63342/LLPprojhtmljs/templates/admin/adminindex.html">Admin Forside</a>
        <a href="http://localhost:63342/LLPprojhtmljs/templates/admin/adminblog.html">Admin Blog</a>
        <a href="http://localhost:63342/LLPprojhtmljs/templates/admin/admincommissions.html">Admin Portræt Kommission</a>
        <a href="http://localhost:63342/LLPprojhtmljs/templates/admin/about.html">Admin "Om os" (404)</a>
        <a href="http://localhost:63342/LLPprojhtmljs/templates/admin/admincourse.html">Admin Kurser</a>
        <a href="http://localhost:63342/LLPprojhtmljs/templates/admin/adminfiles.html">Upload Billeder</a>
    </nav>
</header>