<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Courses</title>
  <link rel="stylesheet" href="../../css/styles.css">
<!--
  <link rel="stylesheet" href="../../css/modal.css">
-->
  <link rel="stylesheet" href="../../css/navbar-header.css">
</head>
<body id="specialPagesPadding">
<h1>Courses</h1>
<button id="createCourseButton">Create Course</button>
<!-- Courses Table -->
<table id="coursesTable" class="styled-table">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
    <th>Image URL</th>
    <th>Image</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>{{courseId}}</td>
    <td>{{courseName}}</td>
    <td>{{courseDescription}}</td>
    <td>{{imageUrl}}</td>
    <td>{{img}}</td>
    <td>
      <button class="editCourseButton btn btn-edit" data-courseId="{{courseId}}">Edit</button>
      <button class="deleteCourseButton btn btn-delete" data-courseId="{{courseId}}">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
<!-- Create Course Form -->
<form id="createCourseModal" style="display: none;">
  <div class="modal-content">
    <label for="courseName">Course Title:</label>
    <input type="text" id="courseName" name="courseName" required>
    <label for="courseDescription">Description:</label>
    <textarea id="courseDescription" name="courseDescription" rows="10" required></textarea>
    <label for="courseImageUrl">Image URL:</label>
    <input type="text" id="courseImageUrl" name="courseImageUrl">
    <button type="submit">Create</button>
  </div>
</form>

<div id="editCourseModal" class="modal" style="display: none;">
  <div class="modal-content">
    <span class="close">&times;</span>
    <form id="updateCourseForm">
      <input type="hidden" name="courseId">
      <label for="courseName">Title:</label>
      <input type="text" name="courseName" id="courseName" required>
      <label for="courseDescription">Description:</label>
      <textarea name="courseDescription" rows="10" id="courseDescription" required></textarea>
      <label for="courseImageUrl">Image URL:</label>
      <input type="text" id="courseImageUrl" name="courseImageUrl">
      <button type="submit" id="updateCourseButton">Save Changes</button>
      <button type="button" onclick="hideEditCourseModal()">Cancel</button>
    </form>
  </div>
</div>
<!-- Delete Confirmation Modal -->
<div id="deleteConfirmationModal" class="modal" style="display: none;">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div id="deleteConfirmationMessage"></div>
    <p>Are you sure you want to delete the selected course?</p>
    <button id="confirmDeleteButton">Yes</button>
    <button id="cancelDeleteButton">No</button>
  </div>
</div>

<script src="../../js/admin/admincourses.js"></script>
<script src="../../js/admin/adminfragments.js"></script>
</body>
</html>
