<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Index</title>
    <link rel="stylesheet" href="../../css/adminstyles.css">
    <link rel="stylesheet" href="../../css/navbar-header.css">
</head>
<body>
<div class="container">
    <h1>Admin Index</h1>
    <div class="button-container">
        <button id="coursesButton">Administrate Courses</button>
        <button id="commissionsButton">Administrate Commissions</button>
        <button id="blogButton">Administrate Blog</button>
    </div>
    <button id="backButton">Back</button>
</div>

<script src="../../js/fragments/fragments.js"></script>
<script src="../../js/admin/adminindexjs.js"></script>
</body>
</html>
