<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portrætter</title>
</head>
<body>
<!--nav her import fragment gennem js?-->

<div class="square-container">
  <div class="square-row">
    <div class="square-item">
      <p><span class="faux-title">Create and edit</span> marketing/lead generation campaigns</p>
    </div>
    <div class="square-item">
      <p><span class="faux-title">Group campaigns</span> by lead source</p>
    </div>
  </div>
  <div class="square-row">
    <div class="square-item">
      <p><span class="faux-title">Track campaign costs</span> and create multiple campaigns to track shifting costs over time</p>
    </div>
    <div class="square-item">
      <p><span class="faux-title">Assign unique tracking urls and phone numbers</span> to each campaign and use them to generate and track campaigns</p>
    </div>
  </div>
</div>

</body>
</html>